@model SolutionViewVM
@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-12">
        <h3>Edit Solution</h3>
        <form method="post" asp-action="Edit" asp-controller="Solutions" asp-route-ProductId="@Model.SolutionId" enctype="multipart/form-data">
            <input type="hidden" asp-for="SolutionId" />
            <div class="form-group row mb-2">
                <label asp-for="servicePointName" class="col-form-label col-form-label-sm col-2"></label>
                <div class="col-4">
                    <input type="text" asp-for="servicePointName" class="form-control form-control-sm" />
                    <span asp-validation-for="servicePointName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="serviceCategory" class="col-form-label col-form-label-sm col-2"></label>
                <div class="col-4">
                    <input type="text" asp-for="serviceCategory" class="form-control form-control-sm" />
                    <span asp-validation-for="serviceCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="SolutionDate" class="col-form-label col-form-label-sm col-2"></label>
                <div class="col-4">
                    <input type="text" asp-for="SolutionDate" class="form-control form-control-sm" />
                    <span asp-validation-for="SolutionDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="Picture" class="col-form-label col-form-label-sm col-2"></label>
                <div class="col-4">
                    <input type="file" asp-for="Picture" class="form-control form-control-sm" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="col-1">
                    <img src="/Uploads/@ViewBag.CurrentPic" style="width:35px" class="img-thumbnail" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="CustomerId" class="col-form-label col-form-label-sm col-2"></label>
                <div class="col-4">
                    <select asp-for="CustomerId" class="form-select form-select-sm" asp-items="@(new SelectList(ViewBag.Customers, "CustomerId", "CustomerName"))">
                        <option selected></option>
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-10 offset-2">
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class=" col-12">
        &lt;&lt;&lt;@Html.ActionLink("Back To List", "Index")
    </div>
</div>
@section styles{
    <link href="~/libs/picker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/validate/jquery.validate.js"></script>
    <script src="~/libs/validate/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/picker/js/bootstrap-datepicker.js"></script>
    <script>
        $("#SolutionDate").datepicker({
            format: "yyyy-mm-dd"
        });
    </script>
}
